---
layout: default
title: Evenly - High Quality App &amp; Mobile Software Engineering
---


{% include index/hero-banner.html %}

<div class="about-info">
    <div class="container">
		<div class="contact-info-block">
		
		<h2 id="dch-sneak-peek">
			We just launched the Grammofy app for iOS
		</h2>
        <p>
            We have been hard at work to help Grammofy build an app that lets you re-discover the world of classical music. Take a look at our latest work:
        </p>		            
        <a href="/projects/grammofy/" class="btn-primary" title="Grammofy">Take a look</a>        

        </div>
    </div>
    
    <div class="container">
		<div class="contact-info-block">
		
		<h2>
			"The future is already here - it's just not <strong>evenly</strong> distributed yet." - William Gibson
		</h2>
		<p> Evenly is a mobile development agency focusing on high quality apps for iOS and Android.<br/> We're the former agency part of <a href="https://nxtbgthng.com">nxtbgthng</a> which now focuses on making it's own products and prototypes.
        </p>
        <a class="btn-primary" href="https://medium.com/@nxtbgthng/the-next-big-thing-for-nxtbgthng-6cf81bf29dce">Read more</a>
    </div>		
    </div>
</div>
<div class="container">
    <div class="contact-info-block">
        <p>
            We are experts in building apps and frameworks for iOS, Android and Apple TV. Together with our partners we design and develop high quality applications from the first sketch to the final release.
        </p>
    </div>
</div>



{% include index/team.html %}
