---
layout: default
title: Evenly - High Quality App &amp; Mobile Software Engineering
---


{% include index/hero-banner.html %}

<div class="about-info">
    <div class="container">
		<div class="contact-info-block">
		
		<h2 id="dch-sneak-peek">
			Sneak peek at Digital Concert Hall for the new Apple TV
		</h2>
        <p>
            We have been hard at work to bring the Digital Concert Hall app to tvOS. We invite you to take a first look at the upcomming app.
        </p>		            
        <a href="/projects/digital-concert-hall-tvos/" class="btn-primary" title="Preview of the Apple TV app for the Berlin Philharmonic's Digital Concert Hall">Take a look</a>        

        </div>
    </div>
    
    <div class="container">
		<div class="contact-info-block">
		
		<h2>
			"The future is already here - it's just not <strong>evenly</strong> distributed yet." - William Gibson
		</h2>
		<p> Evenly is a mobile development agency focusing on high quality apps for iOS and Android.<br/> We're the former agency part of <a href="https://nxtbgthng.com">nxtbgthng</a> which now focuses on making it's own products and prototypes.
			<a href="https://medium.com/@nxtbgthng/the-next-big-thing-for-nxtbgthng-6cf81bf29dce">Read more here.</a>
        </p>
        <p>
			What has changed? New name, new website. Same faces, same quality.
		
		</p>
        <!-- ><a href="#" class="btn-primary">Read all about it</a> -->
    </div>		
    </div>
</div>
<div class="container">
    <div class="contact-info-block">
        <p>
            We are experts in building apps and frameworks for iPhone, iPad and Android. Together with our partners we design and develop high quality applications from the first sketch to the final release.
        </p>
    </div>
</div>



{% include index/team.html %}
