<header id="header" class="{% if page.layout == "projects" %}project {{ page.customclass }}{% endif %} {% if page.dark-mode" %}dark-mode{% endif %}">
    <div class="container">
        <a href="#" class="nav-opener"><span>menu</span></a>
        <div class="logo">
            <a href="/">
                <!--<img src="/images/logo.png" srcset="/images/logo.svg"  height="29" width="122" alt="Evenly">-->
                <object data="{% if page.dark-mode %}/images/logo-dark-03.svg{% else %}/images/logo.svg{% endif %}" type="image/svg+xml">
                    <img src="/images/logo.png" />
                </object>
            </a>
        </div>
        <nav id="nav">
            <ul>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/team">Team</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/jobs">Jobs</a></li>
            </ul>
        </nav>
    </div>
</header>